/*
Changes made by Ben Plont 1/20/2013:

ammended .redChecker
ammended .blackChecker
ammended .blackKing

added .redKing

added Tangerine to body font-family to test font links
added several other fonts to the font folder, 
added font-family to #play error
*/


body {
	font-size: 100%;
	font-family: Dislex, Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
	color: #232323;
	background-image:url('images/background.JPG');
	background-size:cover;
    background-repeat:no-repeat;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset {
	border: 1px solid #ddd;
	padding: 0 1.4em 1.4em 1.4em;
	margin: 0 0 1.5em 0;
}

legend {
	font-size: 1.2em;
	font-weight: bold;
}

textarea {
	min-height: 75px;
}

.editor-label {
	margin: 1em 0 0 0;
}

.editor-field {
	margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
	color: #ff0000;
}

.field-validation-valid {
	display: none;
}

.input-validation-error {
	border: 1px solid #ff0000;
	background-color: #ffeeee;
}

.validation-summary-errors {
	font-weight: bold;
	color: #ff0000;
}

.validation-summary-valid {
	display: none;
}

.key {
	text-align: center;
	vertical-align: middle;
	margin: 6px;
}

.tile {
	width: 50px;
	height: 50px;
}

.blackTile {
	background-image: url('images/black_marble_50.jpg');
}

.whiteTile {
	background-image: url('images/ThassosWhite.jpg');
}

.redChecker 
{
    width: 40px;
	height: 40px;
	background-image: url('images/redChecker.jpg');
    background-size: 110px auto;
    border-radius: 50% 50% 50% 50%;
    box-shadow: 8px 0 12px 2px rgba(0, 0, 0, 0.9) inset, .5px 0 2px 2px rgba(255, 255, 255, 0.16) inset;
    margin: 5px auto;
    position: relative;
    width: 40px;
}
	
.blackChecker {
	width: 40px;
	height: 40px;
	background-image: url('images/blackChecker.jpg');
	background-size: 190px auto;
    border-radius: 50% 50% 50% 50%;
    box-shadow: 8px 0 12px 2px rgba(0, 0, 0, 0.9) inset, .5px 0 2px 2px rgba(255, 255, 255, 0.16) inset;
    margin: 5px auto;
    position: relative;
    width: 40px;
}

.redKing 
{
    animation-duration: 5s, 5s, 5s;
    animation-iteration-count: infinite, infinite, infinite;
    animation-name: rotate, yspin;
    background-image: url("images/redChecker.jpg");
    background-size: 50px auto;
    border-radius: 50% 50% 50% 50%;
    box-shadow: 16px 0 12px 3px rgba(0, 0, 0, 0.9) inset, -3px 0 15px 2px rgba(255, 255, 255, 0.16) inset;
    height: 40px;
    margin: 5px auto;
    position: relative;
    width: 40px;
}

.blackKing {
	animation-duration: 5s, 5s, 5s;
    animation-iteration-count: infinite, infinite, infinite;
    animation-name: rotate, yspin;
    background-image: url("images/blackChecker.jpg");
    background-size: 50px auto;
    border-radius: 50% 50% 50% 50%;
    box-shadow: 16px 0 12px 3px rgba(0, 0, 0, 0.9) inset, -3px 0 15px 2px rgba(255, 255, 255, 0.16) inset;
    height: 40px;
    margin: 5px auto;
    position: relative;
    width: 40px;
    }

#playError {
	font-family: Viper, "Helvetica Neue", Helvetica, Sans-Serif;
	font-size: 100%;
	color: red;
	font-weight: bold;
}

td#log-container {
	vertical-align: top;
	width: 30%;
}

td#log-container h3 {
	text-align: center;
}

.entry
{
	text-align: right;
}

div.buttons
{
	font-family: Arial, Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
	font-size: 75%;
	text-align: center;
}

div.buttons input
{
	width: 100px;
}

#source, #destination
{
	width: 20px;
}

/* Font additions
----------------------------------------*/

@font-face {  
	  font-family: 'Viper' ;  
	  src: url( 'fonts/Viper.ttf' ) format("truetype");  
} 
	
@font-face {    
	font-family: 'Tangerine' ;  
	src: url('fonts/Tangerine.eot'); /* EOT file for IE */
	src: url( 'fonts/Tangerine.ttf' ) format("truetype");  
} 
	
@font-face {    
	font-family: 'ghosts' ;  
	src: url('fonts/ghosts.eot'); /* EOT file for IE */
	src: url( 'fonts/ghosts.ttf' ) format("truetype");  
}
	
@font-face {  
	  font-family: 'Dislex' ;  
	  src: url( 'fonts/Dislex.ttf' ) format("truetype");  
} 

@keyframes yspin{
0%{transform:rotateY(60deg);}
48%{transform:rotateY(-60deg);}
52%{transform:rotateY(-60deg);}
100%{transform:rotateY(60deg);}
  }
   
@keyframes rotate {
   0%{background-position: 0px;}
  50%{background-position:35px;}
  100%{background-position:0px;}
}  
