<div id="board">
	<table cellpadding="0" cellspacing="0">
		<tr>
			<td></td>
			<td class="key">0</td>
			<td class="key">1</td>
			<td class="key">2</td>
			<td class="key">3</td>
			<td class="key">4</td>
			<td class="key">5</td>
			<td class="key">6</td>
			<td class="key">7</td>
			<td></td>
		</tr>
		<tr>
			<td class="key">0</td>
			<td class="tile" id="A1" data-coord="00"></td>
			<td class="tile" id="B1" data-coord="10"></td>
			<td class="tile" id="C1" data-coord="20"></td>
			<td class="tile" id="D1" data-coord="30"></td>
			<td class="tile" id="E1" data-coord="40"></td>
			<td class="tile" id="F1" data-coord="50"></td>
			<td class="tile" id="G1" data-coord="60"></td>
			<td class="tile" id="H1" data-coord="70"></td>
			<td class="key">0</td>
		</tr>
		<tr>
			<td class="key">1</td>
			<td class="tile" id="A2" data-coord="01"></td>
			<td class="tile" id="B2" data-coord="11"></td>
			<td class="tile" id="C2" data-coord="21"></td>
			<td class="tile" id="D2" data-coord="31"></td>
			<td class="tile" id="E2" data-coord="41"></td>
			<td class="tile" id="F2" data-coord="51"></td>
			<td class="tile" id="G2" data-coord="61"></td>
			<td class="tile" id="H2" data-coord="71"></td>
			<td class="key">1</td>
		</tr>
		<tr>
			<td class="key">2</td>
			<td class="tile" id="A3" data-coord="02"></td>
			<td class="tile" id="B3" data-coord="12"></td>
			<td class="tile" id="C3" data-coord="22"></td>
			<td class="tile" id="D3" data-coord="32"></td>
			<td class="tile" id="E3" data-coord="42"></td>
			<td class="tile" id="F3" data-coord="52"></td>
			<td class="tile" id="G3" data-coord="62"></td>
			<td class="tile" id="H3" data-coord="72"></td>
			<td class="key">2</td>
		</tr>
		<tr>
			<td class="key">3</td>
			<td class="tile" id="A4" data-coord="03"></td>
			<td class="tile" id="B4" data-coord="13"></td>
			<td class="tile" id="C4" data-coord="23"></td>
			<td class="tile" id="D4" data-coord="33"></td>
			<td class="tile" id="E4" data-coord="43"></td>
			<td class="tile" id="F4" data-coord="53"></td>
			<td class="tile" id="G4" data-coord="63"></td>
			<td class="tile" id="H4" data-coord="73"></td>
			<td class="key">3</td>
		</tr>
		<tr>
			<td class="key">4</td>
			<td class="tile" id="A5" data-coord="04"></td>
			<td class="tile" id="B5" data-coord="14"></td>
			<td class="tile" id="C5" data-coord="24"></td>
			<td class="tile" id="D5" data-coord="34"></td>
			<td class="tile" id="E5" data-coord="44"></td>
			<td class="tile" id="F5" data-coord="54"></td>
			<td class="tile" id="G5" data-coord="64"></td>
			<td class="tile" id="H5" data-coord="74"></td>
			<td class="key">4</td>
		</tr>
		<tr>
			<td class="key">5</td>
			<td class="tile" id="A6" data-coord="05"></td>
			<td class="tile" id="B6" data-coord="15"></td>
			<td class="tile" id="C6" data-coord="25"></td>
			<td class="tile" id="D6" data-coord="35"></td>
			<td class="tile" id="E6" data-coord="45"></td>
			<td class="tile" id="F6" data-coord="55"></td>
			<td class="tile" id="G6" data-coord="65"></td>
			<td class="tile" id="H6" data-coord="75"></td>
			<td class="key">5</td>
		</tr>
		<tr>
			<td class="key">6</td>
			<td class="tile" id="A7" data-coord="06"></td>
			<td class="tile" id="B7" data-coord="16"></td>
			<td class="tile" id="C7" data-coord="26"></td>
			<td class="tile" id="D7" data-coord="36"></td>
			<td class="tile" id="E7" data-coord="46"></td>
			<td class="tile" id="F7" data-coord="56"></td>
			<td class="tile" id="G7" data-coord="66"></td>
			<td class="tile" id="H7" data-coord="76"></td>
			<td class="key">6</td>
		</tr>
		<tr>
			<td class="key">7</td>
			<td class="tile" id="A8" data-coord="07"></td>
			<td class="tile" id="B8" data-coord="17"></td>
			<td class="tile" id="C8" data-coord="27"></td>
			<td class="tile" id="D8" data-coord="37"></td>
			<td class="tile" id="E8" data-coord="47"></td>
			<td class="tile" id="F8" data-coord="57"></td>
			<td class="tile" id="G8" data-coord="67"></td>
			<td class="tile" id="H8" data-coord="77"></td>
			<td class="key">7</td>
		</tr>
		<tr>
			<td></td>
			<td class="key">0</td>
			<td class="key">1</td>
			<td class="key">2</td>
			<td class="key">3</td>
			<td class="key">4</td>
			<td class="key">5</td>
			<td class="key">6</td>
			<td class="key">7</td>
			<td></td>
		</tr>
	</table>
</div>
